@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "DM Sans", sans-serif;
}

.chakra {
  font-family: "Chakra Petch", sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  position: relative;
}

.logos-slide {
  display: flex;
  animation: 60s slide infinite linear;
}

.logos:hover .logos-slide:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.not-anim {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: none;
}